/* styles.css */

body {
    margin-top: 20px; /* Ajusta este valor según tus necesidades */
}

.table-custom {
    font-size: 0.85rem; /* Ajusta el tamaño de la fuente aquí */
}

.btn-custom {
    font-size: 0.55rem; /* Ajusta el tamaño de los botones aquí */
}

.sidebar-sticky {
    margin-top: 20px; /* Ajusta este valor según tus necesidades */
}